/*SIDEBAR*/
.sidebarItemActive {
    padding: 0;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop,
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
    top: 60px !important
}

.lastElememtNoneBorderRight li:last-child {
    border-right: 0;
}

/*SIDEBAR*/

/*DRAG AND DROP*/
.dragAndDrop label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dragAndDrop .card {
    width: 100%;
}

/*DRAG AND DROP*/

/*SEARCH*/
.css-1xab92c-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled):before,
.css-1xab92c-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 1px solid #B6E388 !important;
}

/*SEARCH*/

/*TAB MENU // TAB SELECTED*/
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #1C6758 !important;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: #1C6758 !important;
}

/*TAB MENU // TAB SELECTED*/

/*LOGIN / REGISTER PAGE*/
.css-12emu5q-MuiButtonBase-root-MuiButton-root {
    background-color: #1C6758 !important;
}

.css-1ojm006-MuiTypography-root-MuiLink-root:hover {
    color: #B6E388 !important;
}

/*LOGIN / REGISTER PAGE*/

/*SWAL ALERT*/
.swal2-container {
    z-index: 9999;
}

/*SWAL ALERT*/

/*Calendar Event Styles*/

.eventsCalendar li::marker {
    color: #1C6758;
}

.ant-picker-cell-inner.ant-picker-calendar-date:has(.eventsCalendarBig) {
    border-top: 2px solid #1C6758
}

.ant-picker-cell-inner:has(.eventsCalendarSmall) {
    position: absolute;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1;
    border: 1px solid #1C6758;
    background: #1C6758;
    border-radius: 4px;
    content: "";
    color: #fff;
}

/*Calendar Event Styles*/

/*Slider Styles*/
.MuiSlider-root {
    color: #52af77 !important;
    height: 8px !important;
}

.MuiSlider-root .MuiSlider-track {
    border: none;
}

.MuiSlider-root .MuiSlider-thumb {
    height: 24 !important;
    width: 24 !important;
    background-color: #fff !important;
    border: 2px solid black !important;
}

.MuiSlider-root .MuiSlider-thumb:focus,
.MuiSlider-root .MuiSlider-thumb:hover,
.MuiSlider-root .MuiSlider-thumb.Mui-active,
.MuiSlider-root .MuiSlider-thumb.Mui-focusVisible {
    box-shadow: inherit
}

.MuiSlider-root .MuiSlider-thumb::before {
    display: none
}

.MuiSlider-root .MuiSlider-valueLabel {
    display: none;
}

/*Slider Styles*/

/*Calendar*/
.ant-picker-calendar-header {
    justify-content: center !important;
    padding: 5px 5px 0px 5px !important;
}

.ant-picker-calendar-mode-switch {
    display: none;
}

.ant-picker-calendar-date-content {
    height: 60px !important;
}

/*Calendar*/

/*Date Picker Search*/
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    background-color: rgba(0, 0, 0, 0.06);
    width: 100%;
}

.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
.css-o943dk-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #1C6758 !important;
}

.css-gjbq6i-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: 2px solid #1C6758 !important;
}

/*Date Picker Search*/

/*Switch COLOR*/
.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    color: #1C6758 !important
}

.css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track{
    background-color: #1C6758 !important
}
/*Switch COLOR*/