

@media (min-width: 768px) and (max-width: 785px){
    .cardMediaQuery .col-md-8 {
        flex: 0 0 auto !important;
        width: 100% !important; 
    }
    .cardMediaQuery .col-md-4 {
        flex: 0 0 auto !important;
        width: 100% !important;
    }
}


@media (min-width: 1px){
    .classNameMobile .col-md-8 {
        flex: 0 0 auto !important;
        width: 100% !important; 
    }
    .classNameMobile .col-md-4 {
        flex: 0 0 auto !important;
        width: 100% !important;
    }
}